<h1>Books</h1>

<table>
	<caption>table title and/or explanatory text</caption>
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
			<th colspan = "3"></th>
		</tr>
	</thead>
	<tbody>
		<% @books.each do |book| %>
			<tr>
				<td><%= book.title %></td>
				<td><%= book.body %></td>
				<td><%= link_to 'Show', book %></td>
				<td><%= link_to 'Edit', '/edit' %></td>
				<td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<h2>New book</h2>

<%= form_for(@book) do |f| %>
	<% if @book.errors.any? %>
		<div>
			
		</div>